body {
    font-family: "Circular Std", -apple-system, BlinkMacSystemFont, "Helvetica", "Arial", sans-serif;
    -webkit-font-feature-settings: "liga", "kern";
        font-feature-settings: "liga", "kern";
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
    font-style: normal;
    line-height: 1.5;
    background-color: white;
    color: black;
    overflow-x: hidden;
    font-size: 18px;
}

.bartop{
  width: 100vw;
  height: 10px;
  background-image: linear-gradient(to left, #feb4b1, pink, #FFDAB9, #FFFCC9);
}

.barbottom{
  width: 100vw;
  height: 10px;
  background-image: linear-gradient(to right, #feb4b1, pink, #FFDAB9, #FFFCC9);
}

.leftbar{
  width:10px;
  height:100vh;
  background-image: linear-gradient(to top, #feb4b1, pink, #FFDAB9, #FFFCC9);
  position: fixed;
}

.rightbar{
  width:10px;
  height:100vh;
  background-image: linear-gradient(to bottom, #feb4b1, pink, #FFDAB9, #FFFCC9);
  position: fixed;
  right: 0px;
}

.bold{
  font-weight: bold;
}

span {
    width: auto;
    height: auto;
}

.container-land {
    margin: 0 25% 0 8%;
}

.container {
    margin: 0 25% 0 8%;
    padding: 0 4% 0 0;

}

.name {
    font-style: normal;
    font-size: 65px;
    text-align: left;
    margin: 0 0 3% 0;
    font-weight: bold;
}

.content {
    padding-top: 80px;
    text-align: left;
}


.nav-link {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar-brand{
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1 {
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
}

h2 {
    font-size: 30px;
    font-style: normal;
}

h3 {
    font-size: 25px;
    font-style: normal;
}

.fab{
  font-weight: 400;
}

#portfolio {
    text-align: left;
    padding: 5% 0;
}

.icon-bar {
    width: 22px;
    height: 2px;
    background-color: #B6B6B6;
    display: block;
    transition: all 0.2s;
    margin-top: 4px
}

.navbar-toggler {
    border: none;
    background: transparent !important;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

:root {
    --mainColor: pink;
    --secondaryColor: #FFFCC9;
}

a.box-effect {
    background:
        linear-gradient(to bottom, var(--mainColor) 40%,
        var(--secondaryColor) 120%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    color: #000;
    text-decoration: none;
    transition: background-size .3s;
}

a.box-effect:hover {
    background-size: 4px 40%;
}

.gradient {
    background-image: linear-gradient(to bottom, #feb4b1, pink, #FFDAB9, #FFFCC9);
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 1);
    transition: color .1s ease-in-out;
    cursor: default;
}

.gradient:hover {
    color: rgba(0, 0, 0, 0);
}

/* social media */

.social {
  display: inline-block;
  text-align: center;
  font-size: 15px;
}


.wrapper-sm.fab .far {
    color: #D8E2DC;
    transition: all 0.3s ease;

}

.socialm {
    margin-right: 20px;
    margin-left: 20px;
    color: darkgrey;
}

/*facebook*/

.wrapper-sm a:hover .fa-envelope {
    color: #dd4b39;
    transition: all 0.5s ease;
}

/* instagram */

.wrapper-sm a:hover .fa-dribbble {
    color: #ea4c89;
    transition: all 0.5s ease;
}

/* google */

.wrapper-sm a:hover .fa-behance {
    color: #053eff;
    transition: all 0.5s ease;
}

/* whatsapp */

.wrapper-sm a:hover .fa-linkedin-in {
    color: #0077B5;
    transition: all 0.5s ease;
}

/* Fade in text */

.content-overlay {
    background: linear-gradient(to bottom, #feb4b1, pink, #FFDAB9, #FFFCC9);
    position: absolute;
    width: 95%;
    height: 100%;
    left: 2.5%;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.project:hover .content-overlay {
    opacity: .8;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    color: black;
}

.project:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.fadeIn-bottom {
    top: 80%;
}

/*Fade In Animation  */
.animatable {

  /* initially hide animatable objects */
  visibility: hidden;

  /* initially pause animatable objects their animations */
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

/* show objects being animated */
.animated {
  visibility: visible;

  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}

@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(20px);
	}

	100% {
		opacity: .9;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(20px);
	}

	100% {
		opacity: .9;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	100% {
		opacity: .9;
		transform: translateY(0);
	}
}

.animated.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

/* arrow bounce */

.arrow {
  text-align: left;
  margin: 0 28% ;
  color: black;

}

i.fa-angle-down{
  -webkit-text-stroke: 3px white;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  60% {
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  60% {
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

/* fonts */

    @font-face {
  font-family: 'Circular Std';
  src: url('./fonts/CircularStd-Book.woff2') format('woff2'),
       url('./fonts/CircularStd-Book.woff') format('woff'),
       url('./fonts/CircularStd-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Circular Std';
  src: url('./fonts/CircularStd-BookItalic.woff2') format('woff2'),
       url('./fonts/CircularStd-BookItalic.woff') format('woff'),
       url('./fonts/CircularStd-BookItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Circular Std';
  src: url('./fonts/CircularStd-Medium.woff2') format('woff2'),
       url('./fonts/CircularStd-Medium.woff') format('woff'),
       url('./fonts/CircularStd-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Circular Std';
  src: url('./fonts/CircularStd-MediumItalic.woff2') format('woff2'),
       url('./fonts/CircularStd-MediumItalic.woff') format('woff'),
       url('./fonts/CircularStd-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Circular Std';
  src: url('./fonts/CircularStd-Bold.woff2') format('woff2'),
       url('./fonts/CircularStd-Bold.woff') format('woff'),
       url('./fonts/CircularStd-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Circular Std';
  src: url('./fonts/CircularStd-BoldItalic.woff2') format('woff2'),
       url('./fonts/CircularStd-BoldItalic.woff') format('woff'),
       url('./fonts/CircularStd-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Circular Std';
  src: url('./fonts/CircularStd-Black.woff2') format('woff2'),
       url('./fonts/CircularStd-Black.woff') format('woff'),
       url('./fonts/CircularStd-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Circular Std';
  src: url('./fonts/CircularStd-BlackItalic.woff2') format('woff2'),
       url('./fonts/CircularStd-BlackItalic.woff') format('woff'),
       url('./fonts/CircularStd-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
